/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
    }
}

@layer components {
    .floating-label {
        @apply text-gray-500 font-medium bg-transparent border border-transparent rounded-md;
        @apply absolute top-4 left-3 pointer-events-none;
        @apply transition-all duration-200 ease-in;

        /* Floating-Effekt */
        @apply peer-focus:top-1 peer-focus:text-xs;
        @apply peer-[:not(:placeholder-shown)]:top-1 peer-[:not(:placeholder-shown)]:text-xs;
        /* @apply peer-[:not(:placeholder-shown)]:text-black; */

        /* Dark Mode */
        @apply dark:text-gray-500;
        /* @apply dark:peer-focus:text-white; */
        /* @apply dark:peer-[:not(:placeholder-shown)]:text-white; */
    }
}

html{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html.dark {
  background-image: url('/images/deep_blue_landscape.jpg');
}

html {
  background-image: url('/images/lightmode_landscape.jpg');
}